<header>

    <a href="#"><h1 class = "site-title">Wowee Blogger</h1></a>

    <nav class = "navbar">
        <ul class = "navlist">
            <li class = " navItem"><a href="#">Home</a></li>
            <button id = "make-new-post" class = "modalbutton">New Post</button>

            <ul class = "category" > 
            <button class = "dropbutton">Category</button>
                <div class = "dropDownContent">
                <a href = "#">Tim's Posts</a>
                <a href = "#">Eliza's Posts</a>
                <a href = "#">Others' Posts</a>
                </div>
    </ul>

        </ul>



    </nav>
    </header>
