<article class="post">
            <div class="post-icon">
                <i class = ""></i>
            </div>
            <div class="post-content">
                <p class = "post-title" >Tim's Old HST 203 Essay United States and Citizenship</p>
                <p class = "post-author">
                        <a href = "#" >{{author}}</a>
                    </p>
                <p class = "post-date">
                       {{date}}
                </p>
                <p class = "post-body" >
                        {{body}}
                </p>
            </div>
        </article>
