body
{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    background-color: white;
}

a
{
    text-decoration: none;
}

.site-title
{
    margin: 0;
    text-align: center;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: 100;
    background-color: #333333;
    color: white;
}

.navbar
{
    background-color: #333333;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}

.navlist
{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navItem
{
    display: inline-block;
}

ul
{
    list-style: none;
}

ul a
{
    color: white;
    text-align: center;
    padding: 18px 40px;
    line-height: 40px;
   
}

ul a:hover
{
    background-color: black;
}

ul a:focus
{
    outline: none;
}

.navlink a
{
padding: none;
display: inline-block;
}

.navlink.active
{
    
}

.navSubItem
{
    text-decoration: none;
    color: white;
    display: block;
    padding: none;
    margin: none;
    text-align: center;
}

.navSubItem:hover
{
    background-color: black;
}

.navSubItem a
{
    display: none;
}

ul li:hover .navSubItem a
{
    display: block;
}

/*
.navBar-search
{
    float: center;
    margin-right: 10px;
    padding: 15px;
    line-height: 40px;
}

#navItem-search-input
{
    padding: 4px;
    font-size: 16px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 2px;
}

#navItem-search-input:focus
{
  outline: none;
  background-color: white;
}

#navBar-search-button
{
    margin-left: -5px;
    font-size: 16px;
    background: none;
    border: none;
    color: gray;
    cursor: pointer;
}

#navBar-search-button:hover
{
    color: aqua;
}

#navBar-search-button:focus
{
    color: aqua;
    outline: none;
}
*/
.container
{
    margin: 50px 10%;
    border: solid black 1px;
    border-radius: 2px;
    display: block;
}

.post
{
    display: block;
    margin: 2px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 2px;
    background-color: white;
}

.post-icon
{
    font-size: 20px;
}

.post-content
{
    margin-top: 10px;
}

.post-content .post-title
{
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.post-content .post-body
{
    margin-top: 10px;
    margin: 0;
}

post-content .post-author
{
    margin-top: 10px;
    text-align: right;
    font-weight: bold;
    font-size: 15px;
}

post-content .post-date
{
    margin-top: 10px;
    text-align: right;
}

body::-webkit-scrollbar {
    width: 20px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

body::-webkit-scrollbar-button {
    background: gray; 
    border-radius: 10px;
}

/*
#modal-backdrop
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    
}

#make-post-modal
{

}
*/