{{> header}}

 <main class="container">

        <article class="post">
            <div class="post-icon">
                <i class = ""></i>
            </div>
            <div class="post-content">
                <p class = "post-title" >Eliza's work One</p>
                <p class = "post-author">
                        <a href = "#" >Eliza N</a>
                    </p>
                <p class = "post-date">
                       6/14/2018
                </p>
                <p class = "post-body" >
                        This is the post body...
                </p>
            </div>
        </article>

        <article class="post">
            <div class="post-icon">
                <i class = ""></i>
            </div>
            <div class="post-content">
                <p class = "post-title" >Eliza's work Two</p>
                <p class = "post-author">
                        <a href = "#" >Eliza N</a>
                    </p>
                <p class = "post-date">
                       6/14/2018
                </p>
                <p class = "post-body" >
                    Fun fact: You can't eat watermeloon and drink milk the same time...      
                </p>
            </div>
        </article>

        <article class="post">
                <div class="post-icon">
                    <i class = ""></i>
                </div>
                <div class="post-content">
                    <p class = "post-title" >Eliza post Three</p>
                    <p class = "post-author">
                            <a href = "#" >Eliza N</a>
                        </p>
                    <p class = "post-date">
                           6/14/2018
                    </p>
                    <p class = "post-body" >
                       This is a random post.
                    </p>
                </div>
            </article>
    
            <article class="post">
                    <div class="post-icon">
                        <i class = ""></i>
                    </div>
                    <div class="post-content">
                        <p class = "post-title" >Alright I promise is the last one</p>
                        <p class = "post-author">
                                <a href = "#" >Eliza N</a>
                            </p>
                        <p class = "post-date">
                               6/15/2018
                        </p>
                        <p class = "post-body" >
                           Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee Wowee 
                        </p>
                    </div>
                </article>
        


    </main>